<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268890706273-au6puqk0nftg9sk3juhq3md7rkph7i2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268890706273-au6puqk0nftg9sk3juhq3md7rkph7i2g</string>
	<key>API_KEY</key>
	<string>AIzaSyC0MIVN70H0PjeVZ5YXCUvsLR1i-LQ9ZO8</string>
	<key>GCM_SENDER_ID</key>
	<string>268890706273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pnj.cafe</string>
	<key>PROJECT_ID</key>
	<string>cafe-pnj</string>
	<key>STORAGE_BUCKET</key>
	<string>cafe-pnj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268890706273:ios:e97bd83f5f9e270dfaf520</string>
	<key>DATABASE_URL</key>
	<string>https://cafe-pnj.firebaseio.com</string>
</dict>
</plist>